<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">


	<bean id="arrow" class="com.epam.dccomics.factory.DCHeroFactory"
		factory-method="getArrowInstance">
		<constructor-arg value="arrow"></constructor-arg>
	</bean>

	<bean id="superman" class="com.epam.dccomics.factory.DCHeroFactory"
		factory-method="getSupermanInstance">
		<constructor-arg value="superman"></constructor-arg>
	</bean>

	<bean id="batman" class="com.epam.dccomics.factory.DCHeroFactory"
		factory-method="getBatmanInstance">
		<constructor-arg value="batman"></constructor-arg>
		<property name="batmobil" ref="batmobil"></property>
	</bean>

	<bean id="prototypeDCHero" class="com.epam.dccomics.domain.PrototypeDCHero"
		scope="prototype">
		<property name="name" value="prototypeDCHero"></property>
		<property name="goodGuy" value="#{ T(com.epam.dccomics.domain.GoodGuy).GOOD_GUY }"></property>
	</bean>
	
	<bean id="batmobilGun" class="com.epam.dccomics.domain.Gun">
		<constructor-arg name="name" value="batmobilGun1"></constructor-arg>
	</bean>
	
	<bean id="batmobil" class="com.epam.dccomics.domain.Batmobil">
		<constructor-arg name="name" value="batmobil"></constructor-arg>
		<constructor-arg name="gun" ref="batmobilGun"></constructor-arg>
	</bean>

</beans>
